.cover__background {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.cover__background:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.cover__background:hover:after {
  opacity: 0.8;
  transition: 0.5s ease-out;
}

@media screen and (min-width: 1280px) {
  .cover__background {
    min-height: 740px;
  }
}

@media screen and (max-width: 1280px) {
  .cover__background {
    min-height: calc(100vw * 0.625);
  }
}

@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: calc(100vw * 0.625);
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    min-height: calc(100vw * 0.625);
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    background-size: cover;
  }
}
