.header__lang-links {
  display: flex;
  padding: 0;
  margin: 46px 48px 0 0;
  list-style-type: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__lang-links {
    margin: 30px 24px 0 0;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .header__lang-links {
    margin: 30px 16px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .header__lang-links {
    margin: 30px 16px 0 0;
  }
}
